#header>h2,#header>h3,#header>h4{
    text-align:center;
    margin:30px 0;
}
.main{
   
}
.person{
    width:75%;
    margin:auto;    
    margin-bottom:25px;
    box-shadow: 5px 0px 10px #eee;
}
.p-info{
    padding-bottom:15px;
}
.p-info>img,.p-info>div{
    display: inline-block;
}
.p-info>img{
    width:40%;
}
.p-info>div{
    vertical-align: top;
    padding:10px;
}
.check-btn{ 
    width: 70px;
    padding:8px 15px;
    border-radius:5px;
    background-color:#fff;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 24px;
    border: 1px solid #eee;
    cursor: pointer;
    font-weight:normal;
}

.check-btn-checked{
    background-color:#5cb85c;
    color:white;
}
.p-article{
    display: block;
    overflow: hidden;
    width:100%;
    margin:auto;
    padding-top:10px;
    position: relative;
    transition: all 1s;
    background-color:rgb(250, 250, 250);
    display: none;
}
.p-article>p{
    text-indent:2em;
    padding:0 10px;
}
.short{
    /* height:100px; */
}
.text-ctl{
    position:absolute; 
    bottom:0px; 
    text-align:center;  
    width:100%; 
    display: block;
    height:30px;
    line-height: 30px;
    box-shadow: 0 -3px 10px #eee;
    background-color:rgb(250, 250, 250);
    cursor:pointer;
}
.text-ctl{
    text-align:center;  
    width:100%; 
    display: block;
    height:30px;
    line-height: 30px;
    box-shadow: 0 -3px 10px #eee;
    background-color:rgb(250, 250, 250);
    cursor:pointer;
}
.sub-btn{
    text-align:center;
    padding:15px;
}
#check-img-con{
    display: inline-block;
}

.toTop{
    position: fixed;
    right: 25px;
    top: 83%;
    width: 50px;
    height: 50px;    
    text-align: center;            
    color: #aaa;
    box-shadow: 0px 3px 5px #eee;
    padding:10px;
    z-index:100;
    background-color: #fff;
}
.toTop>span{
    vertical-align: middle;
}

.toTop:hover, .tobottom:hover{
    cursor: pointer;
}
.toTop-h{
    display: none;
}
.tobottom{
    position: fixed;
    right: 25px;
    top: 70%;
    width: 50px;
    height: 50px;  
    box-shadow: 0px 3px 5px #eee;
    text-align: center;
    padding:5px;
    z-index:100;
    background-color: #fff;
}
#num-checked{
    position:fixed;
    top:60%;
    right:15px;
    box-shadow: 0px 3px 5px #eee;
    padding:10px;
    z-index:100;
    background-color: #fff;
}
@media screen and (max-width:450px){
    .person{
        width:100%;
    }
    .p-info>img{
        width: 90%;
        margin-left: 5%;
    }
    .p-article>p{
        font-size:12px;
    }
}
@media screen and (min-width:1000px){
    .check-btn:hover{
        background-color: #ddd;
        color:black;
    }
}