<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>vote home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <a href="/vote/populate">populate</a>

        {% for v in info_list %}
        <hr>
        <h3><a href="/vote/admin/votes/{{v.id}}">{{v.title}}</a></h3>
        <a href="/vote/populate/{{v.id}}">populate {{v.id}}</a>
        <a href="/vote/admin/votes/drop/{{v.id}}">drop {{v.id}}</a>
        <h4>{{v.subtitle}}</h4>
        <p>{{v.description}}</p>
        <p>{{v.disabled}}</p>
        <p>{{v.start_at}}</p>
        <p>{{v.end_at}}</p>
        {% endfor %}
        <hr>
        <form action="{{url_for('vote.admin_votes_add')}}" method="POST">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="subtitle" placeholder="subtitle">
            <input type="text" name="description" placeholder="description">
            <input type="text" name="description" placeholder="image url"> 
            <input type="submit">submit</input>       
        </form>
    </body>
</html>